[Desktop Entry]
Comment=The Interactive Phase Retrieval Suite
Name=Bonsu
Version=1.0
Exec=bonsu %f
Icon=bonsu
Terminal=false
MimeType=application/fin;
Type=Application
Categories=Education;Graphics;GTK;